@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 25px;
}

h4 {
  text-align: center;
  padding: 0 10px;
}

hr {
  margin: 0 0 40px 0;
  color: #f3f3f3;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}
