@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 25px;
}

h4 {
  text-align: center;
  padding: 0 10px;
}

hr{
  margin: 0 0 40px 0;
  color: #f3f3f3;
}

/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
